body {
  background-color: #ececec;
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: grey;
  border-width: 5px;
  width: 3%;
}

h1 {
  color: #7d5a5a;
}

h3 {
  color: #3f3f44;
}

img {
  height: 190px;
}
